body {
  /*
  font-family: 'Junction';
  overflow: hidden;
  width: 100%;
  height: 100%;
  */
}

/*
@font-face {
  font-family: 'Junction';
  src: url('../fonts/junction-regular.woff');
}  

@font-face {
  font-family: 'Junction';
  src: url('../fonts/junction-bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Junction';
  src: url('../fonts/junction-light.woff');
  font-weight: lighter;
}
*/